%h1 Listing messages

%table
  %tr
    %th From
    %th Title
    %th

  - @messages.each do |message|
    %tr
      %td= message.user.profile.name
      %td= message.title
      %td= link_to 'Show', message
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete
