.column.border.span-9
  = form_for @user, :url=> { :controller => :orders, :action => :login } do |f|
    %div
      =f.label :email
    =f.email_field :email
    %div
      =f.label :password
    =f.password_field :password
    %br
    =f.submit
.column
  = form_for @user, :url=> { :controller => :orders, :action => :register } do |f|
    %div
      =f.label :email
    =f.email_field :email
    %div
      =f.label :password
    =f.password_field :password
    %div
      =f.label :password_confirmation
    =f.password_field :password_confirmation
    %br
    =f.submit
