/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require ./screen
 *= require ./south-street/jquery-ui
*/

/*#content {*/
/*background-color: #ffffff;*/
/*}*/

#main {
    background-color: #ffffff;
    border: #ffffff solid 15px;
    margin-top: 15px;
}

#header a {
    text-decoration: none;
    font-weight: bold;

}

#nav {
    background: url("bg_header.png") no-repeat;
    width: 950px;
    height: 89px;
}

#logo {
    height: 46px;
}

#logo .title {
    padding-left: 10px;
    padding-top: 2px;
}

#user_header {
    margin-bottom: 25px;
}

/*nav*/

#menu ul {
    list-style: none outside;
    margin: 0 0 0 0;
}

#menu li {
    border-left: 1px solid #3b6102;
    float: right;
    padding: 0 1px;
}

#menu li a {
    display: block;
    padding: 14px;
    text-decoration: none;
    color: #ffff00;
    text-transform: uppercase;
    font: bold normal 'Arial';
}

#menu li:hover {
    background: #3b6102;
}

#menu {
    height: 47px;
}

.product {
    height: 150px;
    border-top: 1px solid #F2F2F2;
    padding-top: 10px;

}

.product h4 {
    text-transform: uppercase;
    font: 'Arial';
}

#sider {
    height: 100%
}

.state {
    display: block;
    margin: 0 10px 0 0;
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 6px 10px 0;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

#language ul {
    list-style: none outside;
    float: right;
}

#language ul li {
    float: left;
}

#language ul li a {
    padding: 3px;
    border: 1px solid #D9D9D9;
    opacity: 0.4;
    filter: alpha(opacity = 40); /* For IE8 and earlier */
}

#language ul li a:hover {
    opacity: 0.6;
    filter: alpha(opacity = 40); /* For IE8 and earlier */
}

#language .active {
    opacity: 1;
    filter: alpha(opacity = 100); /* For IE8 and earlier */

}

#flash {
    margin: 0 auto;
    width: 270px;
    text-align: center;
}

#flash_area {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.row {
    display: block;
}

a.button {
    background-color: #FAFAFA;
    border: 1px solid #E1E1E1;
    margin: 5px 0 0;
    padding: 4px 36px;
    font-weight: bold;
    text-decoration: none;
}

a:hover.button{
    background-color: #E1E0D0;
    color: #9acd32;
    cursor: pointer;

}

/*sidebar*/

.sbar_head{
    background: url("/assets/site/sidebar_head.png") no-repeat #6fad07;
    height: 30px;
    color: wheat;
    text-align:right;
  }
.sbar_head a{
  color:wheat;
}  
.sbar_head #title {
    padding-right:15px;
    padding-top:3px;
    font: bold normal 'Arial';
    font-weight: bolder;
    font-size: medium;
  }
.sbar_content{
    border: 1px solid #DDDDDD;
    margin-bottom: 25px;
    padding: 00px 5px 5px 10px;
  }
#search-bar{
padding-top: 8px;
padding-left: 10px;
}  

nav .n
