/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require ./screen
 *= require ./south-street/jquery-ui
*/

/*#content {*/
/*background-color: #ffffff;*/
/*}*/

#main {
  background-color: #ffffff;
  border: #ffffff solid 15px;
  margin-top: 15px;
}

#header a {
  text-decoration: none;
  font-weight: bold;

}

#nav {
  background: url("bg_header.png") no-repeat;
  width: 950px;
  height: 89px;
}

#logo {
  height: 46px;
}

#logo .title {
  padding-left: 10px;
  padding-top: 2px;
}

#user_header {
  margin-bottom: 25px;
}

/*nav*/

#menu ul {
  list-style: none outside;
  margin: 0 0 0 0;
}

#menu li {
  border-left: 1px solid #3b6102;
  float: right;
  padding: 0 1px;
}

#menu li a {
  display: block;
  padding: 14px;
  text-decoration: none;
  color: #ffff00;
  text-transform: uppercase;
  font: bold normal 'Arial';
}

#menu li:hover {
  background: #3b6102;
}

#menu {
  height: 47px;
}

.product {
  height: 150px;
  border-top: 1px solid #F2F2F2;
  padding-top: 10px;

}

.product h4 {
  text-transform: uppercase;
  font: 'Arial';
}

#sider {
  height: 100%
}

.state {
  display: block;
  margin: 0 10px 0 0;
  background: none repeat scroll 0 0 #EEEEEE;
  padding: 6px 10px 0;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}

#language ul {
  list-style: none outside;
  float: right;
}

#language ul li {
  float: left;
}

#language ul li a {
  padding: 3px;
  border: 1px solid #D9D9D9;
  opacity: 0.4;
  filter: alpha(opacity = 40); /* For IE8 and earlier */
}

#language ul li a:hover {
  opacity: 0.6;
  filter: alpha(opacity = 40); /* For IE8 and earlier */
}

#language .active {
  opacity: 1;
  filter: alpha(opacity = 100); /* For IE8 and earlier */

}

#flash, #flash_button {
  margin: 0 auto;
  width: 270px;
  text-align: center;
}

#flash_area {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.row {
  display: block;
}

a.button {
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  margin: 5px 0 0;
  padding: 4px 36px;
  font-weight: bold;
  text-decoration: none;
}

a:hover.button {
  background-color: #E1E0D0;
  color: #9acd32;
  cursor: pointer;

}

/*sidebar*/
.sbar_head_left {
  background: #6fad07;
  height: 30px;
  color: wheat;
  float:right;
  display:block;
}
.sbar_head_left a{
  color:wheat;
  text-decoration:none;
}  

.sbar_head_left a:hover {
  color:yellow;
}

.sbar_head_left #title {
  padding-left:15px;
  padding-top:3px;
  font: bold normal 'Arial';
  font-weight: bolder;
  font-size: medium;
  }

  .sbar_head {
    background: url("/assets/site/sidebar_head.png") no-repeat #6fad07;
    height: 30px;
    color: wheat;
    text-align:right;
}
.sbar_head a{
  color:wheat;
  text-decoration:none;
}  

.sbar_head a:hover {
  color:yellow;
}

.sbar_head #title {
  padding-right:15px;
  padding-top:3px;
  font: bold normal 'Arial';
  font-weight: bolder;
  font-size: medium;
}
.sbar_content{
  border: 1px solid #DDDDDD;
  margin-bottom: 25px;
  padding: 00px 5px 5px 10px;
}
#search-bar{
  padding-top: 8px;
  padding-left: 10px;
}

.title_line{
  background: #6fad07;
  height: 30px;
  color: wheat;
  padding-top:3px;
  font: bold normal 'Arial';
  font-weight: bolder;
  font-size: medium;
  text-align:center;
}
.product img{
  margin-bottom:3px;
}

.column .span-6 .last_added_product {
  height:50px;
  padding:5px;
  border-bottom: 1px solid #dddddd;
}

.shadow {
  box-shadow: 0px 5px 4px 5px #ddd;
}

.field label{
  display:block;
}

.actions {
  padding-top: 10px;
}


/*vertical menu*/


#vertmenu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 160px;
  padding:  0 0 15px;
  margin: 0px;
}

#vertmenu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: none;
}
#vertmenu ul li {
  margin: 0px;
  padding: 0px;
}
#vertmenu ul li a {
  font-size: 80%;
  display: block;
  border-bottom: 1px dashed #C39C4E;
  padding: 5px 0px 2px 4px;
  text-decoration: none;
  color: #666666;
  width:160px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
  color: #000000;
  background-color: #eeeeee;
}

/*WIDGET ELEMENTS*/

#wg_right_corner {
  float:right;
  height:30px;
  width:20px;
  background:url("/assets/site/title_header_right.png") no-repeat scroll;
}
#wg_left_corner {
  float:left;
  height:30px;
  width:20px;
  background:url("/assets/site/sidebar_head.png") no-repeat scroll;
}

.wg_title {
  background:none repeat scroll 0 0 #6FAD07;
  font-weight: bold;
  font-size: large;  
  color:wheat;
  height:30px;
}

.wg_title a{
 text-decoration:none;
 color:wheat;
}
.wg_title a:hover {
  color:yellow;
}
.wg_title .title {
  float: right;
  text-decoration: underline;
  text-transform: uppercase;
}

/*WIDGET ELEMENTS*/
.menu_nav_img {
  padding-top: 9px;
  padding-left: 3px;
  display:block;
  float:left;
}

#sidebar_nav ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#sidebar_nav li {
  padding:0 1px;
  float:right;
  padding-right:30px;
}
#sidebar_nav {
  padding: 0 0 15px;
}

/*Status*/
.status {
    background: none repeat scroll 0 0 #CACACA;
    color: #FFFFFF;
    font-size: 0.8em;
    letter-spacing: 0.15em;
    padding: 3px 5px 2px;
    text-transform: uppercase;
}
.status.ok, .status.published, .status.complete, .status.completed, .status.green {
    background: none repeat scroll 0 0 #8DAA92;
}
.status.warn, .status.warning, .status.orange {
    background: none repeat scroll 0 0 #E29B20;
}
.status.error, .status.errored, .status.red {
    background: none repeat scroll 0 0 #D45F53;
}
/*Status*/
