/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require ./screen
*/

/*#content {*/
/*background-color: #ffffff;*/
/*}*/

#main {
    background-color: #ffffff;
    border: #ffffff solid 15px;
    margin-top: 15px;
}

nav {
    background: url("bg_header.png") no-repeat;
    width: 950px;
    height: 89px;
}

#logo {
    height: 36px;
}

#menue {
    height: 36px;

}

#logo .title {
    padding-left: 10px;
    padding-top: 2px;
}

#user_header {
    margin-bottom: 25px;
}

/*nav*/

#menue ul {
    list-style: none outside;
}

#menue li {
    border-left: 1px solid #9ebe3c;
    float: right;
    padding: 0 1px;
}

#menue {
    height: 47px;
    padding: 13px 0 0;
}

.product {
    height: 150px;
    border-top: 1px solid #F2F2F2;
    padding-top: 10px;

}

.product h4 {
    text-transform: uppercase;
    font: 'Arial';
}

#sider {
    height: 100%
}

.state {
    display: block;
    margin: 0 10px 0 0;
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 6px 10px 0;
    float: left;
}

#states {

}