= content_for :sidebar do  
  %p
    Products 
  %ul#sidebar_nav
    - ProductType.all.each do |link|
      %li.nav_item
        = link_to link.name, '#'
  %p
    Orders
  %ul#sidebar_nav
    - ProductType.all.each do |link|
      %li.nav_item
        = link_to link.name, '#'


